<!DOCTYPE html>
<html>
<head>
  <%- include('../../partials/head', {title: "Library Management System (Staff side)"}) %>
  <%- include('../../partials/theme', {themeName: "cyanish"})%>
  <link rel="stylesheet" type="text/css" href="css/services/main.css">
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
  <table class='w-100 h-100'>
    <tr>
      <td id='navigation' class='active'>
        <div class="w-100 h-100">
          <div id='icon'>
            <img src="assets/icon.svg" alt="">
          </div>
          <div id='services'>
            <div class="category item active">
              <div class="cat_header">
                <div><box-icon type='solid' name='home' color='#3E284B'></box-icon></div>
                <div>Trang chủ</div>
              </div>
            </div>
<% if (permission.services) { -%>
            <br>
            <div class="category">
              <div class='cat_header dropdown'>
                <div><box-icon type='solid' name='book' color='#3E284B'></box-icon></div>
                <div>Dịch vụ</div>
                <div class='dropBtn'><box-icon name='chevron-right' type='solid' color='#3E284B'></box-icon></div>
              </div>
              <ul>
                <li class='item' name='card-services'>Thẻ độc giả</li>
                <li class='item'>Mượn sách</li>
                <li class='item'>Trả sách</li>
                <li class='item'>Lập phiếu thu phạt</li>
              </ul>
            </div>
<% } -%>
<% if (permission.libControl) { -%>
            <br>
            <div class="category">
              <div class="cat_header dropdown">
                <div><box-icon name='library' color='#3E284B'></box-icon></div>
                <div>Quản lý thư viện</div>
                <div class='dropBtn'><box-icon name='chevron-right' type='solid' color='#3E284B'></box-icon></div>
              </div>
              <ul>
                <li class='item' name='book-import'>Thêm sách</li>
                <li class='item' name='book-browsing'>Tra cứu sách</li>
                <li class='item' name='update-parameters'>Thay đổi quy định</li>
              </ul>
            </div>
<% } -%>
<% if (permission.report) { -%>
            <br>
            <div class="category">
              <div class="cat_header dropdown">
                <div><box-icon name='report' type='solid' color='#3E284B'></box-icon></div>
                <div>Lập báo cáo</div>
                <div class='dropBtn'><box-icon name='chevron-right' type='solid' color='#3E284B'></box-icon></div>
              </div>
              <ul>
                <li class='item' name="borrowing-report">Tình hình mượn sách</li>
                <li class='item' name="late-return-report">Các sách trả trễ</li>
              </ul>
            </div>
<% } -%>
<% if (permission.staffControl) { -%>
            <br>
            <div class="category item">
              <div class='cat_header'>
                <div><box-icon name='id-card' color='#3E284B'></box-icon></div>
                <div>Quản lý nhân viên</div>
              </div>
<% } -%>
            </div>
          </div>
        </div>
      </td>
      <td id='td-content'>
        <div>
          <div id='account'>
            <div id='accountName'>
              <p>Xin chào</p>
              <div><%= who %></div>
            </div>
            <div id='accountOption'>
              <ul>
                <li><box-icon name='cog' color='#3E284B'></box-icon><span>Tài khoản</span></li>
                <li>
                  <box-icon name='log-out' color='#3E284B'></box-icon>
                  <span>Đăng xuất</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id='mainContent'></div>
      </td>
    </tr>
  </table>

  <div id='popup'>
    <span></span>
    <div></div>
  </div>
  <script src='js/services/main.js'></script>
  <!-- <script src='js/services/admin_socket.js'></script> -->
</body>
</html>