@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');

#mainContent {
  padding: 0 2vw;
}

#mainContent > div {
  min-height: 100%;
}

#reader-info {
  display: flex;
  height: 50vh;
}

#reader-info > div {
  flex-grow: 1;
}

#issueForm input:disabled {
  background: #ddd;
}

#card-service {
  flex-basis: 0;
  display: grid;
}

#card-service > div:last-child {
  display: flex;
  height: 2em;
}

#card-service > div:last-child button {
  flex-grow: 1;
  margin: 0 3vh;
  border: none;
  outline: none;
  background: var(--sec-light);
  color: var(--fc-sec);
  border-radius: 2vh;
  transition: 0.2s;
}

#card-service > div:last-child button:hover {
  background: var(--acc);
  color: var(--fc-acc);
}

#card-info {
  display: flex;
  align-items: center;
  justify-content: right;
  --card-size: 50;
}

#card-info > div {
  width: calc(var(--card-size)*1vh);
  height: calc(var(--card-size)*17vh/27);
  border: black 1px solid;
  border-radius: calc(var(--card-size)/24*1vh);
  padding: calc(var(--card-size)/16 * 1vh);
  background: #ffffff;
  position: relative;
  font-family: Oswald, serif;
}

#info-fields {
  position: absolute;
  top: calc(var(--card-size)*0.217vh);
  left: 0;
  width: 100%;
  height: 54%;
  background: #b4f6c2;
}

#info-fields > div {
  position: absolute;
  top: calc(var(--fid)*var(--card-size)*0.07vh);
  left: calc(var(--card-size)*0.09vh);
  font-size: calc(var(--card-size)*0.038vh);
  width: calc(100% - var(--card-size)*0.18vh);
}

#card-info > div > span {
  display: block;
  position: absolute;
  bottom: 1vh;
  font-size: 1.5vh;
}

#card-info #issueDate {
  left: calc(var(--card-size)*0.18vh);;
}

#card-info #validDate {
  right: calc(var(--card-size)*0.18vh);;
}

#card-info #barcode {
  position: absolute;
  top: calc(var(--card-size)*0.05vh);
  right: calc(var(--card-size)*0.06vh);
  font-family: "Libre Barcode 128";
  font-size: calc(var(--card-size)*0.1vh);
}

#card-info #cardId {
  position: absolute;
  top: calc(var(--card-size)*0.14vh);
  right: calc(var(--card-size)*0.1vh);
}

#info-fields > div :first-child {
  display: inline-block;
  width: calc(var(--card-size)*0.25vh);
}

#card-info img {
  width: calc(var(--card-size)*0.4vh);
  height: auto;
}

#reader-form {
  display: flex;
  justify-content: left;
  align-items: center;
}

#reader-form > div {
  display: flex;
  border: black 1px solid;
  height: 42.5vh;
  width: 90%;
  align-items: center;
  justify-content: center;
}

#reader-form form {
  padding: 0 4%;
}

#reader-form form label {
  width: 40%;
}

#reader-form form input, select {
  width: 58%;
  height: 2em;
}

#reader-form form br {
  margin: 0.2em 0;
}

.filter {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.filter span {
  font-style: italic;
}

.filter select {
  width: 7em;
}

#reader-table {
  padding-top: 2vh;
  transition: 0.3s;
}

#reader-table.expand {
  padding-top: 5vh;
}

#reader-table > div {
  display: flex;
}

#reader-table > div div {
  flex-grow: 1;
}

#reader-table > div div.action {
  text-align: right;
}

#reader-table > div div.action button.active, button:hover {
  background: var(--acc) !important;
  color: var(--fc-acc) !important;
}

#reader-table > div div.action button {
  border: none;
  outline: none;
  background: var(--sec-light);
  color: var(--fc-sec);
  border-radius: 2vh;
  width: 12em;
}

#reader-table table {
  width: 100%;
  border: solid 1px black;
}

#reader-table table thead {
  height: 2em;
  vertical-align: middle;
  text-align: center;
}

#reader-table table thead th {
  width: calc(var(--r-size)/var(--t-size)*100%);
  border: 1px solid black;
  position: relative;
}

#reader-table table tbody tr td {
  border: 1px solid black;
  color: black;
  text-align: center;
}

#reader-table table tbody tr td:nth-of-type(2) {
  text-align: left;
  padding-left: 1%;
}

#reader-table thead th.asc::after {
  content: '∧';
  position: absolute;
  top: -18%;
  left: 50%;
  font-size: 0.7em;
}

#reader-table thead th.desc::after {
  content: '∨';
  position: absolute;
  top: -18%;
  left: 50%;
  font-size: 0.7em;
}

#reader-table tbody tr:nth-of-type(2n) {
  background: lightgray;
}

#reader-table tbody tr:hover {
  background: var(--acc-light);
}