.book-browsing .w-100 {
    width: 100%
}

#filter-bar {
    font-size: 1rem;
    position: fixed;
    vertical-align: center;
    top: 8vh;
    height: 10.5rem;
    width: 72%;
    padding: 0.5rem 0 2.5rem 0;
    z-index: 3;
    background-color: white;
    transition: 0.2s;
}

.book-browsing input, 
.book-browsing select{
    width: 31.5%;
    height: 1.5rem;
    margin: 0.5rem 0.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.book-browsing button {
    height: 1.5rem;
}

#filter-bar .row-3 div{
    display: inline-block;
    width: 31.5%;
    height: 1.5rem;
    margin: 0.5rem 0.5%;
}

#filter-bar .row-3 select{
    width: 30%;
}

#filter-bar .row-3 .button {
    text-align: right;
}

#book-table {
    position: relative;
    top: 10.5rem;
    border: solid 1px black;
}

#book-table thead {
    position: sticky;
    top: 10.5rem;
    background-color: var(--dom-dark);
}

#book-table thead th{
    width: calc(var(--r-size) / var(--t-size) * 100%);
    text-align: center;
    vertical-align: center;
    border: solid 1px black;
}

#book-table tbody td {
    text-align: center;
    vertical-align: center;
    border: solid 1px black;
}

#book-table tbody tr:nth-of-type(2n)
{
    background: lightgray;
}

#book-table tbody tr:hover {
    background: var(--acc-light);
  }