@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');

html, body {
  height: 100%;
  overflow-x: hidden;
}

table td {
/*  border: black 1px solid;*/
padding: 0px;
}

#navigation {
  width: 0%;
  background: var(--dom-dark);
  color: var(--fc-sec);
  transition: 0.3s;
}

#navigation.active {
  width: 23%;
}

#navigation>div {
  position: relative;
  z-index: 1;
  box-shadow: 2px 0px 5px grey;
  padding-top: 5%;
}

#account {
  position: relative;
  display: flex;
  height: 3em;
  align-items: center;
  padding: 0px 5%;
  width: 100%;
  font-weight: bold;
  margin-bottom: 2em;
}

#accountOption {
  position: absolute;
  display: none;
  top: 100%;
  z-index: 3;
  right: 5%;
  background: var(--dom-dark);
  box-shadow: 0px 0px 10px #667c63;
  width: 60%;
  border-radius: 8px;
  contain: paint;

}

#account:hover #accountOption {
  display: block;
}

#accountOption ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#accountOption li {
  display: flex;
  height: 2em;
  align-items: center;
}

#accountOption li:hover {
  background: var(--sec);
}

#accountOption li box-icon {
  width: 2em;
}

br {
  content: " ";
  display: block;
  margin: 0.5em 0;
}

#account>div {
  flex-grow: 1;
}

#accountName {
  text-align: right;
  padding-right: 5%;
}

#account:hover {
  background: var(--sec);
  cursor: pointer;
}

#services {
  padding: 0 5%;
}

.category {
  width: 100%;
  border-radius: 2vh;
  contain: paint;
}

.cat_header {
  display: grid;
  grid-template-columns: 3em auto 2em;
  grid-template-rows: 3em auto;
  border-radius: 2vh;
}

.cat_header>div:nth-of-type(1) {
  justify-content: center;
}

.category .dropBtn>box-icon {
  transition: 0.3s;
}

.category:hover {
  background: var(--sec);
  cursor: pointer;
}

.cat_header>div {
  display: flex;
  align-items: center;
}

.category.expand2, .category.active {
  background: var(--sec);
}

.category.active > .cat_header {
  font-weight: bold;
}

.category.expand .dropBtn>box-icon {
  transform: rotate(90deg);
}

.category ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: none;
}

.category ul li:before {
  content: "";
}

.category ul li {
  height: 2em;
  display: grid;
  align-items: center;
  grid-template-columns: 3em auto;
}

.category ul li:hover {
  background: var(--acc);
  color: var(--fc-acc);
  cursor: pointer;
}

.category ul li.active {
  background: var(--acc);
  color: var(--fc-acc);
  font-weight: bold;
}

#popup {
  position: absolute;
  bottom: 5%;
  left: 100%;
  width: 25%;
  height: 3em;
  background: #ddaaff;
  z-index: 5;
  display: flex;
  align-items: center;
  padding-left: 2em;
  transition: 0.2s;
}

#popup.success {
  background: #aaffaa;
}

#popup.failure {
  background: #ffaaaa;
}

#popup div {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left:0;
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: color-burn;
}

#popup:hover div {
  width: 100% !important;
  transition: none !important;
}

#popup.triggered {
  left: 75%;
}

#popup.triggered div {
  width: 0%;
  transition: 5s linear;
}

#mainContent {
  padding: 0 2vw;
}

#mainContent > div {
  min-height: 100%;
}