<!DOCTYPE html>
<html>
<head>
  <%- include('../../partials/head', {title: "Registration form"}) %>
  <link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
  <div id='bg' class='w-100 h-100'></div>
  <div id='main' class='w-100 h-100'>
    <div>
      <form action="/register" method="post" accept-charset="utf-8">
        <div id='backLink'><a href='/login'>&lt; Back to Login</a></div>
        <h3>Registration</h3>
        <div class='subform-title'>
          <h5>Account info</h5>
        </div>
        <div class="input_box">
          <label class='inp_req' name='username'>Username</label>
          <input type="text" name="username" value="" placeholder="Username" required><br>
        </div>
        <div class="input_box">
          <label class='inp_req' name='pwd'>Password</label>
          <input type="password" name="pwd" value="" placeholder="Type your password" required><br>
        </div>
        <div class="input_box">
          <label class='inp_req' name='rpwd'>Confirm password</label>
          <input type="password" name="pwd2" value="" placeholder="Retype your password" required><br>
        </div>
        <div class='subform-title'>
          <h5>Personal info (optional)</h5>
        </div>
        <div class="input_box">
          <label name='name'>Name</label>
          <input type="text" name="name" value="" placeholder="Your name here"><br>
        </div>
        <div class="input_box">
          <label name='dob'>Date of birth</label>
          <input type="date" name="dob">
        </div>
        <div class="input_box">
          <label name='gender'>Gender</label>
          <select name="gender">
            <option value="noinput">Select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="nonbinary">Non-binary</option>
            <option value="other">Other</option>
            <option value="rns">Rather not to say</option>
          </select>
        </div>
        <div class="input_box">
          <label name='email'>Email</label>
          <input type="email" name="email" value="" placeholder="Your email">
        </div>
        <div class="input_box">
          <label name='phone'>Phone number</label>
          <input type="tel" name="phone" placeholder="Your phone number">
        </div>
        <p>Fields marked with asterisk (<span style='color: red'>*</span>) are required.</p>
        <div id='btnSubmit'>
          <button type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>