.book-browsing {
  position: relative;
  height: 100%;
  overflow: auto;
}

.book-browsing h4 {
  color: var(--sec-dark);
}

.book-browsing .contents {
  position: relative;
}

#borrow-books-field > div {
  width: 80%;
  background: white;
  padding: 1.2em 2em;
  border-radius: 2vh;
}

#borrow-books-field > div > div:first-child {
  margin-bottom: 2vh;
}

#borrow-books-field > div > div:last-child {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

#borrow-books-field button {
  width: 5em;
  height: 2em;
}

#filter-bar {
  padding: 2vh 0;
  display: grid;
  grid-template-columns: 3fr 7fr 2fr;
}

#filter-bar select,
#filter-bar input,
#filter-bar button {
  height: 2em;
}

#filter-category select {
  width: 70%;
}

#filter-input > div {
  display: none;
}

#filter-input > div > input {
  width: 100%;
}

#filter-input > div.show {
  display: block;
}

#filter-action {
  text-align: right;
}

#filter-action button {
  width: 80%;
}

#book-table {
  position: relative;
  border: solid 1px black;
}

#book-table thead {
  position: sticky;
  top: -1px;
}

.book-browsing .contents > div:first-child {
  height: calc(4vh + 2em);
}

.book-browsing .contents > div:last-child {
  position: relative;
  overflow-x: auto;
  height: calc(100% - 4vh - 2em);
}

#book-table tbody tr td:nth-of-type(3),
#book-table tbody tr td:nth-of-type(4),
#book-table tbody tr td:nth-of-type(5) {
  text-align: left;
  padding: 0 .5em;
}

#bookid-table {
  width: 100%;
}

#bookid-table {
  border: 1px solid black;
  table-layout: fixed;
}

#bookid-table thead th {
  text-align: center;
  height: 2em;
}

#bookid-table tbody td {
  border: 1px solid black;
  text-align: center;
}

#bookid-table tbody td:hover {
  background: var(--acc-light);
}

#bookid-table tbody td.not-avaiable {
  background: lightgray;
  color: gray;
}

