.book-rental .title {
  margin-bottom: 2vh;
  padding: 1vh 0;
  font-size: 2em;
  color: var(--sec-dark);
  text-align: center;
  border: solid 1px;
  border-color: transparent transparent black transparent;
}

.book-rental .panel {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}

.book-rental .panel > div {
  flex: 1;
}
  
.book-rental .panel .button {
  text-align: right;
  flex: auto;
  width: 20%;
}

.book-rental .panel button {
  height: 2em;
  border: none;
  outline: none;
  background: var(--sec);
  color: var(--fc-sec);
  border-radius: 1vh;
  margin-left: 1em;
  width: 8em;
}

.book-rental button:hover {
  background: var(--acc);
  color: var(--fc-acc);
  }

.book-rental .panel input,
.book-rental .panel select{
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 2em;
}

.book-rental .panel .sum {
  padding-top: 0.25em;
}
  
.book-rental #rental-table {
  border: solid 1px black;
}

.book-rental #rental-table tbody tr td:nth-of-type(2) {
  text-align: left;
  padding: 0 1%;
}

.book-rental > div:last-child {
  width: 100%;
  padding: 0 10%;
}