#import-book-form {
  text-align: center;
  border-bottom: gray 1px solid;
  margin: 2vh 0;
}

#import-container h4, h3 {
  color: var(--sec);
}

#import-book-form button {
  background: var(--sec);
  color: var(--fc-sec);
  border: none;
  width: 10em;
  height: 2em;
  border-radius: 1vh;
  margin: 2vh 0;
  outline: none;
}

#import-book-form button:hover {
  background: var(--acc);
  color: var(--fc-acc);
}

#import-book-form > div {
  text-align: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}

#import-book-form form {
  display: flex;
  width: 80%;
  border: solid 1px black;
}

#import-book-form .section {
  flex: 1;
  flex-basis: 0;
  margin: 2vh 2vh;
  padding: 2vh 2vh 0 2vh;
  background: var(--dom-dark);
  border-radius: 2vh;
}

#import-book-form .section:first-child .item {
  margin: 1vh 0;
  display: grid;
  grid-template-columns: 35% auto 40%;
}

#import-book-form .section:last-child .item {
  margin: 1vh 0;
  display: grid;
  grid-template-columns: auto 40%;
}

#import-book-form .section .item {
  align-items: center;
  height: 2.3em;
}

#import-book-form .section .item label {
  margin: 0;
}

