@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');

html, body {
  height: 100%;
  overflow-x: hidden;
}

html {
  font-size: 2.2vmin;
}

box-icon {
  width: 1.5rem;
  height: 1.5rem;
}

table td {
/*  border: black 1px solid;*/
  padding: 0px;
}

#icon {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#icon img {
  width: 75%;
  margin: 5vh 0;
}

#navigation {
  width: 0%;
  background: var(--dom-dark);
  color: var(--fc-sec);
  transition: 0.3s;
}

#navigation.active {
  width: 23%;
}

#navigation>div {
  position: relative;
  z-index: 1;
  box-shadow: 2px 0px 5px grey;
}

#account {
  position: absolute;
  display: flex;
  height: 100%;
  align-items: center;
  width: 17%;
  margin-bottom: 2em;
  padding-left: 2%;
  right: 0;
  background: var(--dom-dark);
}

#accountOption {
  position: absolute;
  display: none;
  top: 100%;
  z-index: 3;
  right: 0;
  top: calc(100% + 1px);
  background: var(--dom-dark);
  contain: paint;
  font-size: 0.8em;
  width: 85%;
}

#account:hover #accountOption {
  display: block;
}

#accountOption ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#accountOption li {
  display: flex;
  height: 3em;
  align-items: center;
  padding-left: 1vh;
}

#accountOption li:hover {
  background: var(--sec);
}

#accountOption li box-icon {
  width: 2em;
}

br {
  content: " ";
  display: block;
  margin: 0.5em 0;
}

#account>div {
  flex-grow: 1;
}

#accountName p {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 0.75em;
}

#accountName div {
  padding-right: 5%;
  font-weight: bold;
}

#account:hover {
  background: var(--sec);
  cursor: pointer;
}

#services {
  padding: 0 5%;
}

.category {
  width: 100%;
  border-radius: 2vh;
  contain: paint;
}

.cat_header {
  display: grid;
  grid-template-columns: 3em auto 2em;
  grid-template-rows: 3em auto;
  border-radius: 2vh;
}

.cat_header>div:nth-of-type(1) {
  justify-content: center;
}

.category .dropBtn>box-icon {
  transition: 0.3s;
}

.category:hover {
  background: var(--sec);
  cursor: pointer;
}

.cat_header>div {
  display: flex;
  align-items: center;
}

.category.expand2, .category.active {
  background: var(--sec);
}

.category.active > .cat_header {
  font-weight: bold;
}

.category.expand .dropBtn>box-icon {
  transform: rotate(90deg);
}

.category ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  display: none;
}

.category ul li:before {
  content: "";
}

.category ul li {
  height: 2em;
  display: grid;
  align-items: center;
  grid-template-columns: 3em auto;
}

.category ul li:hover {
  background: var(--acc);
  color: var(--fc-acc);
  cursor: pointer;
}

.category ul li.active {
  background: var(--acc);
  color: var(--fc-acc);
  font-weight: bold;
}

#popup {
  position: absolute;
  bottom: 5%;
  left: 100%;
  width: 30%;
  height: 3em;
  background: #ddaaff;
  z-index: 5;
  display: flex;
  align-items: center;
  padding-left: 1em;
  transition: 0.2s;
}

#popup.success {
  background: #aaffaa;
}

#popup.failure {
  background: #ffaaaa;
}

#popup div {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left:0;
  background: rgba(0, 0, 0, 0.5);
  mix-blend-mode: color-burn;
}

#popup:hover div {
  width: 100% !important;
  transition: none !important;
}

#popup.triggered {
  left: 70%;
}

#popup.triggered div {
  width: 0%;
  transition: 5s linear;
}

#td-content {
  display: grid;
  height: 100%;
  grid-template-rows: 8vh auto;
  overflow-x: hidden;
}

#td-content > div:first-child {
  border-bottom: 1px solid gray;
  position: relative
}

#mainContent {
  position: relative;
  overflow-x: auto;
}

#mainContent > div {
  padding: 0 2vw;
}

.display-table {
  width: 100%;
  border: solid 1px black;
}

.display-table thead {
  height: 2em;
  vertical-align: middle;
  text-align: center;
  background-color: var(--dom-dark);
}

.display-table thead th {
  width: calc(var(--r-size)/var(--t-size)*100%);
  border: 1px solid black;
  position: relative;
  user-select: none;
}

.display-table tbody tr td {
  border: 1px solid black;
  color: black;
  text-align: center;
}

.display-table thead th.asc::after {
  content: '∧';
  position: absolute;
  top: -18%;
  left: 50%;
  font-size: 0.7em;
}

.display-table thead th.desc::after {
  content: '∨';
  position: absolute;
  top: -18%;
  left: 50%;
  font-size: 0.7em;
}

.display-table tbody tr:nth-of-type(2n) {
  background: #eee;
}

.display-table tbody tr:hover {
  background: var(--acc-light);
}

.display-table tbody tr.filtered {
  display: none;
}

button.stdBtn {
  background: var(--sec);
  color: var(--fc-sec);
  border: none;
  outline: none;
  border-radius: 1vh;
}

button.stdBtn:hover {
  background: var(--acc);
  color: var(--fc-acc);
}

button.stdBtn:disabled {
  background: lightgray;
  color: gray;
}

.item {
  position: relative;
}

.item.error::after {
  position: absolute;
  content: '!';
  top: 0.2em;
  right: 1em;
  color: red;
  font-weight: bold;
}

.autocomplete {
  position: relative;
  width: 100%;
}

.autocomplete > div {
  position: absolute;
  z-index: 10;
  top: calc(100% - 1px);
  background: white;
  width: 100%;
/*  box-shadow: 0px 0px 5px black;*/
}

.autocomplete input {
  width: 100%;
  height: 100%;
}

.autocomplete > div > div {
  border: solid gray 0.5px;
  padding-left: 0.5vh;
  overflow-x: hidden;
  width: 100%;
}

.autocomplete > div > div:hover {
  background: lightgray;
}

.green {
  color: #0080ff;
  font-weight: bold;
/*  text-decoration: underline;*/
}

.red {
  color: red;
  font-weight: bold;
/*  text-decoration: underline;*/
}