#return-books {
  position: relative;
  height: 100%;
  overflow: auto;
}

#return-books h4 {
  color: var(--sec-dark);
}

#return-books .pop-up-field {
  display: none;
  z-index: 5;
}

#return-books .pop-up-field.show {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#return-books .pop-up-field.show ~ .dimmer {
  display: block;
}

.infoRow input:disabled {
  background: initial;
  color: initial;
  border-style: solid;
  border-color: initial;
  border-width: 1px;
  border-radius: 3px;
}

#return-field > div {
  width: 90%;
/*  border: 1px solid black;*/
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  background: white;
}

#return-field > div > div {
  width: 90%;
  margin: 4vh 0;
}

#return-field table td {
  outline: none;
  text-align: center;
}

#return-field table td:nth-of-type(4),
#return-field table td:nth-of-type(n+6) {
  outline: none;
  text-align: left;
  padding-left: 1%;
}

.dimmer {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0.3, 0.3, 0.3, 0.5);
  z-index: 3;
  display: none;
  width: 100%;
  height: 100%;
}

#return-books div.readerInfo {
  display: grid;
  grid-template-columns: auto 2fr 1fr 1.5fr auto;
  align-items: center;
  margin-bottom: 2vh;
}

#return-books div.readerInfo span {
  margin-top: 1vh;
}

#return-content-field div.readerInfo span:nth-of-type(3n+1) {
  margin-right: 4em;
}

#return-field form div:first-child label {
  margin: 0;
  margin-right: 2em;
}

/*#return-field form div:first-child > div {
  flex: 1;
}*/

#return-field form div:last-child {
  margin-top: 4vh;
  display: flex;
}

#inner-return-books {
  margin-top: 2vh;
}

#return-field form div:last-child button {
  flex: 1;
  margin: 0 4em;
  height: 2em;
}

#return-content-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

#return-content-field > div {
  width: 90%;
  background: white;
  padding: 4vh 4vh;
  border-radius: 2vh;
}

#return-content-field > div > div:last-child {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

#return-content-field > div > div:last-child button {
  width: 6em;
  height: 2em;
}

#inner-return-books button {
  width: 13em;
  margin-left: 2em;
  height: 2em;
}

#inner-return-books > div:first-child {
  margin-bottom: 1vh;
}