html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 10vh 3vh auto 3vh 10vh;
}

.pad {
/*  height: 10vh;*/
}

.pad img {
  height: 8vh;
  margin: 1vh 2vh;
}

.hbar {
/*  height: 2vh;*/
  background: #ddd;
}

#bg {
  background: url('../../assets/library3.png');
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#login-form {
  width: 30vw;
  display: flex;
  height: 100%;
  position: absolute;
  right: 0;
}

#form-cont {
  display: flex;
  width: 100%;
  padding: 2em 0;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

#form-cont>div {
/*  border: black 3px solid;*/
/*  background: white;*/
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5%;
  width: 80%;
  border-radius: 3vh;
  box-shadow: 2px 2px 5px 0px black;
}

#navigator>div:nth-of-type(1) {
  display: flex;
  height: 3em;
}

#navigator span {
  width: 50%;
  color: gray;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#navigator span.active {
  font-weight: bold;
  color: black;
}

#form-cont h2 {
  margin: 0vh;
  color: var(--acc);
}

#form-cont h6 {
  font-style: italic;
  text-align: center;
}

#outer-form form {
  width: 100%;
}

#user-form #other-action {
  font-size: 0.7em;
  margin-top: 1vh;
}

#user-form p {
  margin-bottom: 0px;
}

#user-form p:nth-of-type(1) {
  float: left;
}

#user-form p:nth-of-type(2) {
  float: right;
}

#other-action a {
  color: var(--acc);
  font-weight: bold;
}

form input {
  width: 96%;
  margin: 0 2%;
}

#outer-form>input {
  width: 100%;
  border: none;
  background: var(--sec-dark);
  height: 2em;
  border-radius: 3vh;
  margin-top: 1rem;
  color: white;
  font-weight: bold;
}

#outer-form>input:hover {
  background: var(--sec);
}

.input-box {
  position: relative;
  margin-top: 2.5vh;
  border-bottom: var(--sec-dark) 1px solid;
}

.input-box label {
  position: absolute;
  top: 0;
  pointer-events: none;
  transition: 0.2s;
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 1vh;
}

.input-box input {
  border: none;
  background: transparent;
  outline: none;
}

input:focus ~ label, input:valid ~ label {
  top: -100%;
}

#errorDisplay {
  text-align: center;
  margin-bottom: 0;
  margin-top: 1vh;
  font-size: 0.7em;
  color: red;
}